@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #8f1717, #3d3d86);
}
.calculator{
    border: 1px solid #f0f0f0;
    padding: 20px;
    border-radius: 16px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(233, 235, 238, 0.5);
    color: white;
}
input{
    width: 320px;
    border: none;
    padding: 25px;
    margin: 10px;
    background: transparent;
    box-shadow: 0px 3px 15px rgb(200, 201, 255);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: white;
    border-radius: 20px;

}
input::placeholder{
    color: #ffffff;
}
button{
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    margin: 10px;
    border-radius: 50%;
    background: transparent;
    color: black;
    font-size: 20px;
    box-shadow: -8px -8px 15px rgba(255, 241, 241, 0.1);
    cursor: pointer;
    border-radius: 50%;
background: linear-gradient(145deg, #ffcece, #ffc5c5);
box-shadow:  -8px -8px 15px rgba(255, 241, 241, 0.1),
}
.eqlbtn{
    background-color: rgb(224, 222, 255);
}
.operator{
    color: rgb(7, 168, 15);
}
